* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  background: #020617;
  padding: 15px 60px;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: #e5e7eb;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

/* Home */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 25px;
}

/* Sections */
.section {
  padding: 80px 15%;
}

.section h2 {
  margin-bottom: 30px;
  color: #38bdf8;
}

/* Skills */
.skill {
  margin-bottom: 15px;
}

.bar {
  background: #1e293b;
  border-radius: 20px;
}

.progress {
  height: 10px;
  border-radius: 20px;
  background: #38bdf8;
}

.html { width: 90%; }
.css { width: 85%; }
.js { width: 80%; }
.python { width: 85%; }
.sql { width: 75%; }

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
